@font-face {
    font-family: 'RedHatDisplay';
    src: url("RedHatDisplay-VariableFont_wght.ttf");
}

*{
    margin: 0;
    padding: 0;   
}

body{
    font-family: 'RedHatDisplay', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    background-repeat: no-repeat;
    background-color: #e0e8ff;
    align-items: center;
    align-items: center;
    background-size: cover;
    background-image: url(img/bg.png);
}

.container{
    width: 100%;
    margin: 0 auto;
    background: #fff;
    border-radius: 30px;
    /*transform: scale(0.5);*/
    position: relative;
    /*margin-left: 100px;
    margin-top: 100px;*/
    /*top: -180px;*/
}