@font-face {
    font-family: 'RedHatDisplay';
    src: url("RedHatDisplay-VariableFont_wght.ttf");
}

*{
    margin: 0;
    padding: 0;   
}

body{
    font-family: 'RedHatDisplay', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    background-repeat: no-repeat;
    background-color: #e0e8ff;
    text-align: center;
    background-size: cover;
    background-image: url(img/bg.png);

    
}

.container{
    background-color: #fff;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

.img img{
   width: 100%;
}

.pricing{
    display: flex;
    justify-content: space-between;
}    

.text{
    display: flex;
}