@font-face {
    font-family: 'RedHatDisplay';
    src: url("RedHatDisplay-VariableFont_wght.ttf");
}

*{
    margin: 0;
    padding: 0;   
}

body{
    font-family: 'RedHatDisplay', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    background-repeat: no-repeat;
    background-color: #e0e8ff;
    align-items: center;
    align-items: center;
    background-size: cover;
    background-image: url(img/bg.png);
    margin-right: 400px;
    margin-left: 400px;
}

.container{
    width: 100%;
    margin: 0 auto;
    background: #fff;
    border-radius: 30px;
    transform: scale(0.5);
    position: relative;

    /*top: -180px;*/
}

.img img{
    transform: scale(0.9);
    border-radius: 20px;
   
    width: 100%;
    height: 100%;
    margin-top: -20px;
    margin-right: -20px;
}